@font-face {
  font-family: 'Roboto Condensed';
  src: url('fonts/RobotoCondensed-Bold.eot'); /* IE9 Compat Modes */
  src: url('fonts/RobotoCondensed-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/RobotoCondensed-Bold.woff') format('woff'), /* Modern Browsers */
       url('fonts/RobotoCondensed-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/RobotoCondensed-Bold.svg#8051b5c88618a7da73c207c9e9b7849e') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('fonts/RobotoCondensed-BoldItalic.eot'); /* IE9 Compat Modes */
  src: url('fonts/RobotoCondensed-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/RobotoCondensed-BoldItalic.woff') format('woff'), /* Modern Browsers */
       url('fonts/RobotoCondensed-BoldItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/RobotoCondensed-BoldItalic.svg#c1be2027108b8c014603e1765075b3ab') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  700;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('fonts/RobotoCondensed-Italic.eot'); /* IE9 Compat Modes */
  src: url('fonts/RobotoCondensed-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/RobotoCondensed-Italic.woff') format('woff'), /* Modern Browsers */
       url('fonts/RobotoCondensed-Italic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/RobotoCondensed-Italic.svg#c6a77a4193bf5bb1ce8d0e0f753ccbfb') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  400;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('fonts/RobotoCondensed-Light.eot'); /* IE9 Compat Modes */
  src: url('fonts/RobotoCondensed-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/RobotoCondensed-Light.woff') format('woff'), /* Modern Browsers */
       url('fonts/RobotoCondensed-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/RobotoCondensed-Light.svg#d14ff364bcb79ca70fcd56256985608b') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('fonts/RobotoCondensed-LightItalic.eot'); /* IE9 Compat Modes */
  src: url('fonts/RobotoCondensed-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/RobotoCondensed-LightItalic.woff') format('woff'), /* Modern Browsers */
       url('fonts/RobotoCondensed-LightItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/RobotoCondensed-LightItalic.svg#808b7d721d8a1b3e3371b2f3ea00f1f4') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  200;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('fonts/RobotoCondensed-Regular.eot'); /* IE9 Compat Modes */
  src: url('fonts/RobotoCondensed-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/RobotoCondensed-Regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/RobotoCondensed-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/RobotoCondensed-Regular.svg#f5f50991018990856053c429e2759d63') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

