* {
	box-sizing: border-box;
}

body, html {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background-color: rgba(calc-color(1),.4);
	position: relative;
}

.app-container {
	width: 100%;
	height: 100%;
	max-width: 60vh;
	max-height: 167vw;
	background-color: $light-grey;
	overflow: hidden;
	position: absolute;
	left: 50%;
	top: 50%;
	@include transform(translateX(-50%) translateY(-50%));
}

body {
	text-align: center;
	position: relative;
	color: $color1;
	font-size: 32px;
	font-family: $sans;

	&.original .original-game,
	&.infinity .infinity-game,
	&.twist .twist-game,
	&.clear .clear-game,
	&.combine .combine-game,
	&.options .option-panel,
	&.high-scores .high-scores-panel,
	&.original-high .original-high-scores,
	&.infinity-high .infinity-high-scores,
	&.twist-high .twist-high-scores,
	&.clear-high .clear-high-scores,
	&.combine-high .combine-high-scores,
	&.rules .rules-panel,
	&.original-rules .original-rules-panel,
	&.infinity-rules .infinity-rules-panel,
	&.twist-rules .twist-rules-panel,
	&.clear-rules .clear-rules-panel,
	&.combine-rules .combine-rules-panel
	{
		top: 0;
	}

	@media(max-width: 370px) {
		font-size: 28px;
	}

	@media(max-width: 350px) {
		font-size: 22px;
	}
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

.wrapper {
	@include wrapper;
}

h1 {
	font-size: 54px;
	color: $color1;
}

ul {
	padding: 0 20px;

	li {
		display: block;
		background-color: $grey;
		border-radius: 10px;
		margin-bottom: 20px;
		padding: 15px;

		@for $i from 1 through 8 {
			$c: calc-color($i);
			&:nth-child(#{$i}) {
				background-color: rgba($c,.4);
				color: $c;
			}
		}

		&.no-color {
			background-color: transparent;
			font-size: 75%;
			line-height: 1.2;

			a {
				padding: 0;
				text-decoration: underline;
			}
		}
	}
}

ol {
	padding: 0 10px;

	li {
		margin-bottom: 20px;
		font-size: 24px;

		@media(max-width: 350px) {
			font-size: 20px;
		}
	}
}