.panel {
	width: 100%;
	height: 100%;
	background-color: $light-grey;
	position: absolute;
	left: 0;
	top: 100%;
	@include transition(top $slow);
	overflow: hidden;
	padding: 20px 0;

	.options-list {
		position: relative;
		top: 50%;
		@include transform(translateY(-50%));
	}
}